.footer {
  margin-top: 294px;
  height: 491px;
  background-color: #f8fdfe;
  position: relative;
  padding-top: 189px;

  &__daily-update-wrap {
    position: absolute;
    width: 100%;
    top: -176px;
  }

  &__daily-update {
    height: 251px;
    background-color: #19bce4;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 52px;
  }

  &__daily-update-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #ffffff;
  }

  &__daily-update-form {
    width: 720px;
    height: 64px;
    background: #ffffff;
    border-radius: 6px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__daily-update-email {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: #555555;
    padding: 24px;
  }

  &__daily-update-submit {
    width: 120px;
    height: 48px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    position: relative;
    right: 8px;

    @include button(6px);
  }

  &__content {
    display: flex;
    gap: 44px;
    height: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 329px;
  }

  &__info-paragraph {
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #555555;
  }

  &__info-socials {
    margin-top: 37px;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__social-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 45px;
  }

  &__cell {
    width: fit-content;
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #222222;
  }

  &__list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    list-style-type: none;
  }

  &__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #555555;
    &:visited,
    &:active {
      color: #555555;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
}

@media (max-width: 1000px) {
  .footer {
    height: fit-content;
    padding-bottom: 30px;

    &__daily-update {
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
    }

    &__daily-update-form {
      width: 100%;
    }

    &__content {
      justify-content: space-between;
    }

    &__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }
  }
}

@media (max-width: 869px) {
  .footer {
    &__info {
      width: 280px;
    }
  }
}

@media (max-width: 771px) {
  .footer {
    &__daily-update {
      padding: 30px 20px 40px;
      text-align: center;
    }

    &__daily-update-form {
      width: 100%;
    }

    &__content {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &__info {
      width: 100%;
      align-items: center;
    }

    &__grid {
      grid-template-columns: repeat(1, 1fr);
      gap: 35px;
    }
    &__cell {
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .footer {
    &__daily-update {
      height: fit-content;
      padding: 40px;

      &-title {
        font-size: 30px;
      }

      &-form {
        flex-direction: column;
        height: fit-content;
        margin-top: 10px;
        padding-bottom: 10px;
      }

      &-email {
        width: 100%;
        text-align: center;
        overflow: hidden;
      }

      &-submit {
        top: 0;
        right: 0;
        width: 80%;
      }
    }
  }
}

@media (max-width: 426px) {
  .footer {
    padding-top: 250px;
  }
}
